.mb-1 { margin-bottom: 8px; }
.mb-2 { margin-bottom: 16px; }
.mb-3 { margin-bottom: 24px; }
.mb-4 { margin-bottom: 48px; }

.logo img {
  height: 5rem;
  margin-bottom: 1rem;
  width: auto;
}

.ant-layout-content {
  margin: 32px 16px;
}

@media (min-width: 768px) {
  .ant-layout-content {
    margin: 32px 50px;
  }
}


.ant-layout-footer {
  border-top:1px solid rgba(0, 0, 0, .1);
}

.ant-layout {
  min-height: 100vh;
}
/* 608db9 */
.collect {
  background: #fff;
  border: 2px solid #f3902d;
  border-radius: 4px;
  padding: 32px;
  margin-bottom: 64px;
  text-align: center;
}

h2.ant-typography { font-weight: 100; }

button img, img.icon { height: 20px; width: auto; margin-right: 4px; }

.ant-descriptions-item-content { text-align: left;}


/*
.swm-loading-icon span.anticon svg {
  width: 48px;
  height: 48px;
}
*/

.pool-info {
  text-align: center;
}

.pool-image {
  padding: 0 2rem;
  max-width: 12rem;
  margin: auto;
}

.pool-image img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

@media(min-width:576px) {
  .pool-info {
    text-align: left;
  }

  .pool-image img {
    margin-bottom: 0;
  }
}

.ant-statistic {
  line-height: 1.25;
}

.pool .ant-input-suffix .ant-btn {
  padding: 0;
}

.ant-alert { text-align: center }

.header-hero {
  background: url(./images/bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
}
.header-hero-overlay {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-hero-content {
  position: relative;
  z-index: 2;
}


.hero {
  text-align: center;
  padding: 16px;
  position: relative;
}

.ant-layout-header {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .hero {
    padding: 50px;
  }
  .ant-layout-header {
    padding: 0 50px;
  }
}

.hero h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .hero h1 { font-size: 32px; }
}

.ant-layout-header {
  background: transparent;
  font-weight: 100;
}

.heading-wrap {
  text-align: center;
}

.heading {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  padding: 8px 12px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 32px;
  border-radius: 5px;
}

.heading:before {
  content: "";
  border-top: 2px dotted black;
  position: absolute;
  left: -8rem;
  width: 8rem;
  height: 1px;
  top: 50%;
}

.heading:after {
  content: "";
  border-top: 2px dotted black;
  position: absolute;
  right: -8rem;
  width: 8rem;
  height: 1px;
  top: 50%;
}

.metamask-connected {
  font-size: 14px;
}

.pool-apy {
  color: #F99400;
  font-weight: bold;
  font-size: 20px;
}

.earned-label {
  font-weight: bold;
  /*margin-bottom: 4px;*/
}

.earned-amount {
  font-size: 28px;
  font-weight: bold;
}

.earned-amount .unit {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}

.earned-button .ant-btn {
  padding: 0 32px;
  height: 28px;
  line-height: 24px;
}

.stake-title {
  font-weight: bold;
  font-size: 14px;
}

.stake-balance {
  font-size: 12px;
  color: #666;
  margin-bottom: 4px;
}


.pool-header-right {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
}

.pool-header h2 {
  font-weight: bold;
}

.pool-title {
  font-weight: bold;
}

.pool-add-liquidity {
  font-size: 10px;
  text-transform: uppercase;
}

.stake-input {
  height: 32px;
}

.stake-max {
  color: black;
  font-size: 12px;
}

.pools-note {
  font-size: 12px;
  padding:24px;
}

a { color: #f3902d; text-decoration: underline; }
a:hover { color: black; text-decoration: underline; }
